body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
 
}
.one {
  background: #efdefe;
}
.two {
  background: #ffff;
}
.three {
  background: #ffff;
}
.four {
  background-image: url("Scan.png");
  background-size: cover

                  
  ;
}
